<!DOCTYPE html>
<html>
  <head>
      {% load staticfiles %}
      <title>Academy login page</title>
      <link rel="stylesheet" href="{% static 'CSS_file/stylesheet.css' %}">
  </head>
  <body>  
      <div class="slidercontainer">    
        <div class="showSlide">  
            <img src="{% static 'images/technology-1283624_1920.jpg' %}"/>    
        </div>            
        <div class="showSlide fade">  
            <img src="{% static 'images/Python-Programming-Wallpaper-1.jpg' %}"/>    
        </div>  
        <div class="showSlide fade">  
            <img src="{% static 'images/vqk5x5qs3wt11.png' %}"/>   
        </div>
        <div class="showSlide fade">  
            <img src="{% static 'images/image-Design.jpg' %}"/>   
        </div>
        <div class="showSlide fade">  
            <img src="{% static 'images/ai-codes-coding-247791.jpg' %}"/>   
        </div>
      </div>    
      <div class="top-right">
          <h1><i> CODING & FRAMEWORK ACADEMY</i></h1>
      </div> 
      <div class="topnav">
        <a class="active" href="#Home">Home</a>
        <a href="#News">News</a>
        <a href="#Contact">Contact</a>
        <a href="#About">About</a>
      </div>
      <div class="centered">
        <h1 class="content_heading_"><em>Welcome Back</em></h1>
        <p class="content__subheading_" ><em>Sign in to stay connected.</p></em></p>
      </div>              
      <script type="text/javascript" src="{% static 'js_file/slider.js' %}"></script> 
      <div class="form-login">
        <form action="" method="post">
          {% csrf_token %}
          <legend><b>Enter your details</b></legend>
          <br>
          <em><strong> First Name {{user.firstname}}</strong></em>
          <br>
          <input type="text" name="firstname" placeholder="Enter your firstname" size="20"><br>
          <br>
          <em><strong> Middle Name {{user.middlename}}</strong></em>
          <br>
          <input type="text" name="middlename" placeholder="Enter your middlename" size="20"><br>
          <br>
          <em><strong> Last Name {{user.lastname}}</strong></em>
          <br>
          <input type="text" name="lastname" placeholder="Enter your lastname" size="20"><br>
          <br>
          <em><strong> Email {{user.Email}}</strong></em><br>
          <input type="text" name="email" placeholder="Enter your Email" size="20"><br>
          <br>
          <em><strong> Password {{user.Password}}</strong></em><br>
          <input type="text" name="password" placeholder="Enter your password" size="20"><br>
          <br>
          <input type="submit" class="button" name="submit" value="Submit"/> 
        </form>        
      </div>    
  </body>
</html>