<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <title>Welcome to login page</title>
        <link rel="stylesheet" href="{% static 'CSS_file/stylesheet.css' %}">
    </head>
    <body>  
        <!-- <div class="slidercontainer">    
            <div class="showSlide">  
                <img src="{% static 'images/technology-1283624_1920.jpg' %}"/>    
            </div>            
            <div class="showSlide fade">  
                <img src="{% static 'images/Python-Programming-Wallpaper-1.jpg' %}"/>    
            </div>  
            <div class="showSlide fade">  
                <img src="{% static 'images/vqk5x5qs3wt11.png' %}"/>   
            </div>
            <div class="showSlide fade">  
                <img src="{% static 'images/image-Design.jpg' %}"/>   
            </div>
            <div class="showSlide fade">  
                <img src="{% static 'images/ai-codes-coding-247791.jpg' %}"/>   
            </div>
        </div> -->
        <!-- <script type="text/javascript" src="{% static 'js_file/slider.js' %}"></script>-->    
        <div class="top-right">
            <h1><i> CODING WORLD </i></h1>
        </div> 
        <div class="form_login">      
            <form action="http://127.0.0.1:8000/data/save" method="post">{% csrf_token %}
                <label><b>Enter user details</b></label><br>
                <br>
                <label><em><strong> First Name {{Login.first_name}}</strong></em></label>
                <br>
                <input type="text" name="firstname" placeholder="Enter user firstname" size="20" required><br>
                <br>
                <label><em><strong> Middle Name {{Login.middle_name}}</strong></em></label>
                <br>
                <input type="text" name="middlename" placeholder="Enter user middlename" size="20"><br>
                <br>
                <label><em><strong> Last Name {{Login.last_name}}</strong></em></label>
                <br>
                <input type="text" name="lastname" placeholder="Enter user lastname" size="20"><br>
                <br>
                <label><em><strong> Email {{Login.email_id}}</strong></em><br></label>
                <input type="text" name="email" placeholder="Enter user Email ID" size="20" required><br>
                <br>
                <label><em><strong> Create Password {{Login.password}}</strong></em><br></label>
                <input type="text" name="password" placeholder="Enter user new password" size="20" required><br>
                <br>
                <input type="submit" class="button" name="submit" value="Post" style="color: red; width: 80px; height: 30px;background: #C0C0C0" /> 
            </form> 
        </div>    

    </body>
</html>