<!DOCTYPE html>
<html>
<head>
	<title>personal_info_submit</title>
	{% load staticfiles %}
</head>
<body>
	<style type="text/css">
	    body {
	       background-image : url('{% static "rocks_by_the_sea.jpg" %}');
	       background-size: cover;
	       height: 100%;
	       background-repeat: no-repeat; 

	    }
	    legend{
	    	color: brown
	    }
	    em{
	    	color: red
	    }
	</style>
    <form method="POST">  
    	{% csrf_token %}
        <legend><b>Personal information:</b></legend><br>
        <br>
        <em><strong> First Name:{{persondetails.firstname}}</strong></em>
        <br>
        <input type="text" name="firstname" placeholder="Enter your firstname"><br>
        <br>
        <em><strong> Middle Name: {{persondetails.middlename}}</strong></em>
        <br>
        <input type="text" name="middlename" placeholder="Enter your middlename"><br>
        <br>
        <em><strong> Last Name:{{persondetails.lastname}}</strong></em>
        <br>
        <input type="text" name="lastname" placeholder="Enter your lastname"><br>
        <br>
        <em><strong> Gender:{{persondetails.gender}}</strong></em><br>
        <input type="text" name="gender" placeholder="Enter your gender(Male,Female,Others)"><br>  
        <br>

        <input type="submit" class="button" name="submit" value="Submit" />
    </form>
</body>
</html>