<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    {% load staticfiles %}
    <style type="text/css">
        body {
           background-image : url('{% static "forest4.jpeg" %}');
           background-size: cover;
           height: 100%;
           background-repeat: no-repeat;     
        }
    </style>
	<title>Contact ME</title>
</head>
<body>
    <center>
	    <font size="5" color="saddlebrown">	
	    <h1><i>Saayan Das</i></h1>
	    </font>
	    <div>
	    	<br>
	    	<font size="5" color="chocolate">
	    	<h3>Mobile number</i> : <em>8981983244</em></h3>
	    	<h4><i>Alternate number</i>: <em> 9804568814 </em></h4>
	    	<h3><strong>Email</strong> : <em> saayan8981@gmail.com</em> </h3>
	        </font> 
	     
	        <h1 style="color: peru"><em>Dasignation: Animal Lover</em></h1>
	    </div>
	    <br></br>
	    <div>
	    	<a href="https://www.facebook.com/saayan.das.7" target="_blank"><font size="4" color="gold">Facebook_link</font></a>
	        <br></br>
	        <a href="https://www.linkedin.com/in/saayan-das-a708a38a/" target="_blank"><font size="4" color="gold">Linkdin_link</font></a>  
	    </div>
    </center>

    <div>
	    <style>
	        .bottomright { position: fixed; bottom: 5px; right: 25px; text-align: right; }    
	    </style>
	    <font size="5">
	    	<h4>
	        <div class="bottomright"><h5 style="color: gold"><em>Saayan</em></h5></div>
	    </font>
	</div>      
</body>
</html>