<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <style type="text/css">
        body {
           background-image : url('{% static "forest3.jpg" %}');
           background-size: cover;
           height: 100%;
           background-repeat: no-repeat;     
        }
    </style>
    <meta charset="UTF-8">
    <title>About me</title>
</head>
<body>
    <h1 style="color: blue">About Me</h1>
    <h2 style="color: yellow">Saayan Das</h2>
    <a href="https://s3.amazonaws.com/codecademy-content/courses/web-101/htmlcss1-img_brown-bear-2.jpeg"> <img src="https://s3.amazonaws.com/codecademy-content/courses/web-101/htmlcss1-img_brown-bear-2.jpeg" target="_blank"></a>
    <div meta="about me">
    <b>
        <style>
            p {
                color: violet;
            }
        </style>
    	<p>
    		Hey, my name is <em>Saayan</em>, and there's little I find more exciting than bears! I've spent most of my young life traveling to the edges of Earth to take videos of these wonderful creatures. 
    	</p>
    </b>
    </div>
    <p><i>Family, Country, Bears,</p></i>
    <p style="color: gold">Saayan D.</p>
    <br><br>
    <h3 style="color: orange"> Designed By ,</h3>
    <p style="color: orange"><em>Saayan Das</em></p>
</body>
</html>