
body {  
    margin: 0;  
    background: #e6e6e6;  
    font-family:'Roboto Slab',serif
    background: red;
}      

@-webkit-keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}  

@keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}
.top-right {
   color: #FF4500;
   position: absolute;
   top: 8px;
   left: 16px;
   }


label{
font-size:20px;
font-weight:700
}    

 
.form_login {
   font-size: 25px;
   position: absolute;
   color: RGB(210, 105, 30);
   text-align: center;
   box-sizing: border-box;
   font-family: "Times New Roman";
   font-style: italic;
   top: 55%;
   left: 50%;
   margin-right: -50%;
   align-items: center;
   transform: translate(-50%, -50%);
   text-shadow: 2px 1px brown;
   text-decoration: none; 
   }

